{% extends "_layoutmain.html"%}
{% block title%}BLANKSPIDER - ADD NEW PROJECT{%endblock%}
{%block page_content%}
    <div class="row">

        <div class="col-md-12">
             <h3 class="page-header">EDIT PROJECT</h3>
             <ol class="breadcrumb">
              <li><a href="/">HOME</a></li>
              <li><a href="{{url_for('project.index')}}">PROJECT</a></li>
              <li class="active">EDIT > {{project.name}}</li>
            </ol>
        </div>
        <div class="col-md-12">
             <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">EDIT PROJECT</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="{{url_for('project.edit', pid=project.id)}}">
                        <div class="form-group">
                            <label>NAME</label>
                            {{form['name'](class='form-control', placeholder='INPUT PROJECT NAME')}}
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{%endblock%}