{% extends "_layoutmain.html"%}
{% block title%}BLANKSPIDER - SOURCE CONFIG PARSER{%endblock%}

{%block js%}
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript">



        $(document).ready(function(){

            $('#btnGetHtml').click(function(){
                var beginURL = $('#txtBeginLink').val();
                if(beginURL === ''){
                     $('#modalInfo').modal('show')
                     $('#modal-content').html("BEGIN URL DO NOT EMPTY!");
                     return;
                }




                $.ajax({
                    url: '{{url_for('source.config_request_get_html')}}',
                    data: $('#txtBeginLink').serialize(),
                    type: 'POST',
                    success: function(response) {

                        $('#txtHtml').val(response.html);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });


            $('#btnSubmit').click(function(){

                var beginURL = $('#txtBeginLink').val();
                if(beginURL === ''){
                     $('#modalInfo').modal('show')
                     $('#modal-content').html("BEGIN URL DO NOT EMPTY!");
                     return;
                }

                if($('#slOptionSubmit').val() == 'TEST'){

                    start_string = $('#start-string').val();
                    end_string = $('#end-string').val();

                    var result = parseBetween(start_string, end_string);
                    $('#txtResult').val(result);

                }
                else{

                    var fieldName = $('#field-name').val();
                    if(fieldName === ''){
                         $('#modalInfo').modal('show')
                         $('#modal-content').html("FIELD NAME DO NOT EMPTY!");
                         return;
                    }




                    $.post('{{url_for('source.config_field_add')}}', {
                        sid: $('#txt_hidden_sid').val(),
                        field_name: $('#field-name').val(),
                        start_pattern: $('#start-string').val(),
                        end_pattern: $('#end-string').val()
                    }, function (data) {


                        $('#modalInfo').modal('show')
                        $('#modal-content').html(data.message);



                    });

                }
            });

        });





        function parseBetween(beginString, endString) {
            var originalString = $('#txtHtml').val();
            var beginIndex = originalString.indexOf(beginString);
            if (beginIndex === -1) {
                return null;
            }
            var beginStringLength = beginString.length;
            var substringBeginIndex = beginIndex + beginStringLength;
            var substringEndIndex = originalString.indexOf(endString, substringBeginIndex);
            if (substringEndIndex === -1) {
                return null;
            }
            return originalString.substring(substringBeginIndex, substringEndIndex);
        }


    </script>
{%endblock%}

{%block page_content%}
    <div class="modal fade" tabindex="-1" role="dialog" id="modalInfo">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">ALERT</h4>
          </div>
          <div class="modal-body">
            <p id="modal-content"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="row">

        <div class="col-md-12">
             <h3 class="page-header">
                 SOURCE CONFIG PARSER
                      <div class="pull-right">
                        <a href="{{url_for('source.config_general', sid=sid)}}" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> GENERAL
                        </a>
                         &nbsp;
                        <a href="{{url_for('source.config_parser', sid=sid)}}" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> PARSER FIELD
                        </a>
                         &nbsp;
                         <a href="{{url_for('source.config_link', sid=sid)}}" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> ADD CONFIG LINK
                        </a>
                    </div>
             </h3>
             <ol class="breadcrumb">
              <li><a href="/">HOME</a></li>
              <li><a href="{{url_for('source.index')}}">SOURCE</a></li>
              <li><a href="{{url_for('source.config_field_list', sid=sid)}}">LIST FIELD CONFIG</a></li>
              <li><a href="{{url_for('source.config_parser', sid=sid)}}">PARSER</a></li>
              <li class="active">LINK</li>
            </ol>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                PARSER

                            </h3>
                        </div>
                        <div class="panel-body">
                               <form method="post" action="#">
                                 <input type="hidden" value="{{sid}}" id="txt_hidden_sid">
                                <div class="form-group">
                                    <label>URL BEGIN</label>
                                    <input type="text" name="txtBeginLink" id="txtBeginLink" class="form-control input-lg" required>
                                </div>
                                <div class="form-group">
                                    <button id="btnGetHtml" type="button" class="btn btn-primary btn-lg btn-block">GET HTML</button>
                                </div>
                                 <div class="form-group">
                                    <label>TEXT HTML</label>
                                    <textarea name="txtHtml" id="txtHtml" rows="30" class="form-control" spellcheck="false"></textarea>
                                </div>
                                <!--<div style="font-size:14px;padding-top:5px;text-align:right;">
                                    <i>+ Click and <strong>"Ctrl + C"</strong> after that <strong>"Ctrl + V"</strong> to notepad</i>
                                </div>-->
                               </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                         <div class="panel-heading">
                            <h3 class="panel-title">CONFIG FIELD</h3>
                        </div>
                        <div class="panel-body">
                            <form action="#" method="post">
                                <div class="form-group">
                                    <label>FIELD NAME</label>
                                    <input type="text" class="form-control input-lg" name="field-name" id="field-name">
                                </div>
                                <div class="form-group">
                                    <label>START STRING</label>
                                    <textarea class="form-control" name="start-string" id="start-string" rows="5" spellcheck="false"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>END STRING</label>
                                    <textarea class="form-control" name="end-string" id="end-string" rows="5" spellcheck="false"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>RESULT</label>
                                    <textarea name="txtResult" id="txtResult" class="form-control" rows="10" spellcheck="false"></textarea>
                                </div>
                                <div class="form-group">
                                     <label>ACTIONS</label>
                                     <select class="form-control input-lg" id="slOptionSubmit">
                                      <option value="TEST">TEST FIND LINK BY CONFIG</option>
                                      <option value="SAVE">SAVE LINK BY CONFIG</option>
                                    </select>
                                 </div>
                                <div class="form-group">
                                    <button id="btnSubmit" type="button" class="btn btn-primary btn-lg btn-block">SUBMIT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
{%endblock%}