{% extends "_layoutmain.html"%}
{% block title%}BLANKSPIDER - ADD NEW SOURCE{%endblock%}
{%block page_content%}
    <div class="row">

        <div class="col-md-12">
             <h3 class="page-header">EDIT SOURCE</h3>
             <ol class="breadcrumb">
              <li><a href="/">HOME</a></li>
              <li><a href="{{url_for('source.index')}}">SOURCE</a></li>
              <li class="active">EDIT</li>
            </ol>
        </div>
        <div class="col-md-12">
             <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">EDIT NEW SOURCE</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="{{url_for('source.edit', sid=sid)}}">
                        <div class="form-group">
                            <label>NAME</label>
                            {{form['name'](class='form-control', placeholder='INPUT SOURCE NAME ...')}}
                        </div>
                         <div class="form-group">
                            <label>MODE</label>
                            {{form['mode'](class='form-control')}}
                        </div>
                        <div class="form-group">
                            <label>ACTIVE</label>
                            {{form['is_active'](class='form-control')}}
                        </div>
                        <div class="form-group">
                            <label>STATUS</label>
                            {{form['status'](class='form-control')}}
                        </div>
                        <div class="form-group">
                            <label>TYPE SPIDER</label>
                            {{form['type_spider'](class='form-control')}}
                        </div>
                        <div class="form-group">
                            <label>SELECT PROJECT</label>
                            {{form['project'](class='form-control')}}
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{%endblock%}